Landamrks

<% Landmark.all.each do |landmark| %>

  <%= landmark.name %>

<% end %>

<table>
  <tr><%= @landmark.name %></a>
  <tr><%= @landmark.year_completed %></a>
  <tr><%= @landmark.figure %></a>
</table>

<br>
